<nav class="primary-menu navbar navbar-expand-lg">
    <div id="header-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a href="@Url.Action("Index", "Send", null)">Send</a></li>
            <li><a href="@Url.Action("Index", "Receive", null)">Receive</a></li>
            <li><a href="@Url.Action("Index","Fees",null)">Fees</a></li>
            <li><a href="@Url.Action("Index","Help",null)">Help</a></li>
            <li><a href="@Url.Action("Index","Career",null)">Career</a></li>
        </ul>
    </div>
</nav>